@model Whguide.Models.GasPricesViewModel

@{
    var c540totalprice = Model.c540 * 500;
    var c320totalprice = Model.c320 * 6000;
    var totalprice = c540totalprice + c320totalprice;
    var iskm3 = totalprice / 35000;

}

<div class="anomalycontainer">
    <h3>Instrumental Core Reservoir</h3>
    <h4>Gas Signature</h4>

    <div class="miningcalc"> <span>At</span> <input type="text" size="5" placeholder="your m3/s" class="mineinput"> <span>m3/s site will be mined out in</span><textarea id="53" class="timearea" OreAmount="35000" disabled></textarea></div>

    <table class="maintable">
        <tr>
            <th></th>
            <th>Qty</th>
            <th>Sleeper</th>
            <th>Class</th>
            <th><img class="icon" src="~/Content/Images/icons/dis.png"></th>
            <th><img class="icon" src="~/Content/Images/icons/web.png"></th>
            <th><img class="icon" src="~/Content/Images/icons/neut.png"></th>
            <th><img class="icon" src="~/Content/Images/icons/rr.png"></th>
            <th>Dist</th>
            <th>Sig</th>
            <th>Max Speed</th>
            <th>Orbit</th>
            <th>Velocity</th>
            <th>DPS</th>
            <th>Alpha</th>
            <th>Range</th>
            <th>EHP</th>
        </tr>

        <tr class="wave maintablerow">
            <td>Defenders</td>
            <td></td>
            <td class="trigger"></td>
            <td></td>
            <td class="effect">4</td>
            <td class="effect">4</td>
            <td class="effect">-72</td>
            <td class="rrep"></td>
            <td>30</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="dps">1,859</td>
            <td class="dps">22,984</td>
            <td>148</td>
            <td class="ehp">562,857</td>
        </tr>
        <tr class="maintablerow">
            <td class="trigger"></td>
            <td>4</td>
            <td class="sleeper ">Sleepless Sentinel</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/sleeplesssentinel.png">B</td>
            <td>1</td>
            <td>1</td>
            <td>-18</td>
            <td></td>
            <td>30</td>
            <td>400</td>
            <td>1,125</td>
            <td>19,000</td>
            <td>125</td>
            <td>465</td>
            <td>5,746</td>
            <td>148</td>
            <td>140,714</td>
        </tr>

        <tr class="wave maintablerow">
            <td style="text-align: left">Gas</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2">35,000m3</td>
            <td></td>
            <td colspan="3">@totalprice.ToString("#,##0") ISK</td>
        </tr>
        <tr class="maintablerow">
            <td></td>
            <td>6,000</td>
            <td>Fullerite-C320</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2">30,000 m3</td>
            <td></td>
            <td colspan="3">@c320totalprice.ToString("#,##0") ISK</td>
        </tr>
        <tr class="maintablerow">
            <td></td>
            <td>500</td>
            <td>Fullerite-C540</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2">5,000 m3</td>
            <td></td>
            <td colspan="3">@c540totalprice.ToString("#,##0") ISK</td>
        </tr>
    </table>
    <table class="summarytable">
        <tr class="summarytablerow">
            <td>ISK/EHP</td>
            <td>113</td>
        </tr>
        <tr class="summarytablerow">
            <td>ISK/m3</td>
            <td>@iskm3.ToString("#,##0")</td>
        </tr>
        <tr class="summarytablerow">
            <td>Gas value</td>
            <td>@totalprice.ToString("#,##0") ISK</td>
        </tr>
        <tr class="summarytablerow">
            <td>Blue Loot</td>
            <td>63,600,000 ISK</td>
        </tr>
        <tr class="summarytablerow">
            <td>EHP</td>
            <td>562,857</td>
        </tr>
        <tr class="summarytablerow">
            <td>DPS</td>
            <td>1,859</td>
        </tr>
        <tr class="summarytablerow">
            <td>Scrams</td>
            <td>4</td>
        </tr>
        <tr class="summarytablerow">
            <td>Webs</td>
            <td>4</td>
        </tr>
        <tr class="summarytablerow">
            <td>Neuts</td>
            <td>-72</td>
        </tr>
        <tr class="summarytablerow none">
            <td>RRep</td>
            <td>0</td>
        </tr>
        <tr class="summarytablerow none">
            <td>Towers</td>
            <td>0</td>
        </tr>
        <tr class="summarytablerow none">
            <td>Frigates</td>
            <td>0</td>
        </tr>
        <tr class="summarytablerow none">
            <td>Cruisers</td>
            <td>0</td>
        </tr>
        <tr class="summarytablerow">
            <td>Battleships</td>
            <td>4</td>
        </tr>
    </table>
</div>

























