@model Whguide.Models.GasPricesViewModel

@{
    var c84totalprice = Model.c84 * 1500;
    var c72totalprice = Model.c72 * 3000;
    var totalprice = c84totalprice + c72totalprice;
    var iskm3 = totalprice / 9000;

}

<div class="anomalycontainer">
    <h3>Ordinary Perimeter Reservoir</h3>
    <h4>Gas Signature</h4>

    <div class="miningcalc"> <span>At</span> <input type="text" size="5" placeholder="your m3/s" class="mineinput"> <span>m3/s site will be mined out in</span><textarea id="55" class="timearea" OreAmount="9000" disabled></textarea></div>

    <table class="maintable">
        <tr>
            <th></th>
            <th>Qty</th>
            <th>Sleeper</th>
            <th>Class</th>
            <th><img class="icon" src="~/Content/Images/icons/dis.png"></th>
            <th><img class="icon" src="~/Content/Images/icons/web.png"></th>
            <th><img class="icon" src="~/Content/Images/icons/neut.png"></th>
            <th><img class="icon" src="~/Content/Images/icons/rr.png"></th>
            <th>Dist</th>
            <th>Sig</th>
            <th>Max Speed</th>
            <th>Orbit</th>
            <th>Velocity</th>
            <th>DPS</th>
            <th>Alpha</th>
            <th>Range</th>
            <th>EHP</th>
        </tr>

        <tr class="wave maintablerow">
            <td>Defenders</td>
            <td></td>
            <td class="trigger"></td>
            <td></td>
            <td class="effect"></td>
            <td class="effect"></td>
            <td class="effect"></td>
            <td class="rrep"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="dps">260</td>
            <td class="dps">3,900</td>
            <td>250</td>
            <td class="ehp">54,167</td>
        </tr>
        <tr class="maintablerow">
            <td></td>
            <td>5</td>
            <td class="sleeper ">Vigilant Sentry Tower</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/vigilantsentrytower.png">T</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>50</td>
            <td></td>
            <td></td>
            <td></td>
            <td>52</td>
            <td>780</td>
            <td>250</td>
            <td>10,833</td>
        </tr>

        <tr class="wave maintablerow">
            <td style="text-align: left">Gas</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2">9,000m3</td>
            <td></td>
            <td colspan="3">@totalprice.ToString("#,##0") ISK</td>
        </tr>
        <tr class="maintablerow">
            <td></td>
            <td>3,000</td>
            <td>Fullerite-C72</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2">6,000 m3</td>
            <td></td>
            <td colspan="3">@c72totalprice.ToString("#,##0") ISK</td>
        </tr>
        <tr class="maintablerow">
            <td></td>
            <td>1,500</td>
            <td>Fullerite-C84</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2">3,000 m3</td>
            <td></td>
            <td colspan="3">@c84totalprice.ToString("#,##0") ISK</td>
        </tr>
    </table>
    <table class="summarytable">
        <tr class="summarytablerow">
            <td>ISK/EHP</td>
            <td>0</td>
        </tr>
        <tr class="summarytablerow">
            <td>ISK/m3</td>
            <td>@iskm3.ToString("#,##0")</td>
        </tr>
        <tr class="summarytablerow">
            <td>Gas value</td>
            <td>@totalprice.ToString("#,##0") ISK</td>
        </tr>
        <tr class="summarytablerow">
            <td>Blue Loot</td>
            <td>0 ISK</td>
        </tr>
        <tr class="summarytablerow">
            <td>EHP</td>
            <td>54,167</td>
        </tr>
        <tr class="summarytablerow">
            <td>DPS</td>
            <td>260</td>
        </tr>
        <tr class="summarytablerow none">
            <td>Scrams</td>
            <td>0</td>
        </tr>
        <tr class="summarytablerow none">
            <td>Webs</td>
            <td>0</td>
        </tr>
        <tr class="summarytablerow none">
            <td>Neuts</td>
            <td>0</td>
        </tr>
        <tr class="summarytablerow none">
            <td>RRep</td>
            <td>0</td>
        </tr>
        <tr class="summarytablerow">
            <td>Towers</td>
            <td>5</td>
        </tr>
        <tr class="summarytablerow none">
            <td>Frigates</td>
            <td>0</td>
        </tr>
        <tr class="summarytablerow none">
            <td>Cruisers</td>
            <td>0</td>
        </tr>
        <tr class="summarytablerow none">
            <td>Battleships</td>
            <td>0</td>
        </tr>
    </table>
</div>



























