@model Whguide.Models.GasPricesViewModel

@{
    var c84totalprice = Model.c84 * 3000;
    var c50totalprice = Model.c50 * 1500;
    var totalprice = c84totalprice + c50totalprice;
    var iskm3 = totalprice / 7500;

}

<div class="anomalycontainer">
    <h3>Sizeable Perimeter Reservoir</h3>
    <h4>Gas Signature</h4>

    <div class="miningcalc"> <span>At</span> <input type="text" size="5" placeholder="your m3/s" class="mineinput"> <span>m3/s site will be mined out in</span><textarea id="56" class="timearea" OreAmount="7500" disabled></textarea></div>

    <table class="maintable">
        <tr>
            <th></th>
            <th>Qty</th>
            <th>Sleeper</th>
            <th>Class</th>
            <th><img class="icon" src="~/Content/Images/icons/dis.png"></th>
            <th><img class="icon" src="~/Content/Images/icons/web.png"></th>
            <th><img class="icon" src="~/Content/Images/icons/neut.png"></th>
            <th><img class="icon" src="~/Content/Images/icons/rr.png"></th>
            <th>Dist</th>
            <th>Sig</th>
            <th>Max Speed</th>
            <th>Orbit</th>
            <th>Velocity</th>
            <th>DPS</th>
            <th>Alpha</th>
            <th>Range</th>
            <th>EHP</th>
        </tr>

        <tr class="wave maintablerow">
            <td>Defenders</td>
            <td></td>
            <td class="trigger"></td>
            <td></td>
            <td class="effect"></td>
            <td class="effect"></td>
            <td class="effect">-9</td>
            <td class="rrep"></td>
            <td>7</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="dps">87</td>
            <td class="dps">636</td>
            <td>42</td>
            <td class="ehp">14,280</td>
        </tr>
        <tr class="maintablerow">
            <td class="trigger"></td>
            <td>3</td>
            <td class="sleeper">Emergent Patroller</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/emergentpatroller.png">F</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>35</td>
            <td>1,750</td>
            <td>6,800</td>
            <td>250</td>
            <td>16</td>
            <td>116</td>
            <td>42</td>
            <td>3,000</td>
        </tr>
        <tr class="maintablerow">
            <td></td>
            <td>3</td>
            <td class="sleeper">Emergent Watchman</td>
            <td><img class="sleeperimg" src="~/Content/Images/Sleepers/emergentwatchman.png">F</td>
            <td></td>
            <td></td>
            <td>-3</td>
            <td></td>
            <td>7</td>
            <td>35</td>
            <td>1,925</td>
            <td>5,000</td>
            <td>275</td>
            <td>12</td>
            <td>96</td>
            <td>42</td>
            <td>1,760</td>
        </tr>

        <tr class="wave maintablerow">
            <td style="text-align: left">Gas</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2">7,500m3</td>
            <td></td>
            <td colspan="3">@totalprice.ToString("#,##0") ISK</td>
        </tr>
        <tr class="maintablerow">
            <td></td>
            <td>1,500</td>
            <td>Fullerite-C50</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2">1,500 m3</td>
            <td></td>
            <td colspan="3">@c50totalprice.ToString("#,##0") ISK</td>
        </tr>
        <tr class="maintablerow">
            <td></td>
            <td>3,000</td>
            <td>Fullerite-C84</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2">6,000 m3</td>
            <td></td>
            <td colspan="3">@c84totalprice.ToString("#,##0") ISK</td>
        </tr>
    </table>
    <table class="summarytable">
        <tr class="summarytablerow">
            <td>ISK/EHP</td>
            <td>168</td>
        </tr>
        <tr class="summarytablerow">
            <td>ISK/m3</td>
            <td>@iskm3.ToString("#,##0")</td>
        </tr>
        <tr class="summarytablerow">
            <td>Gas value</td>
            <td>@totalprice.ToString("#,##0") ISK</td>
        </tr>
        <tr class="summarytablerow">
            <td>Blue Loot</td>
            <td>2,400,000 ISK</td>
        </tr>
        <tr class="summarytablerow">
            <td>EHP</td>
            <td>14,280</td>
        </tr>
        <tr class="summarytablerow">
            <td>DPS</td>
            <td>87</td>
        </tr>
        <tr class="summarytablerow none">
            <td>Scrams</td>
            <td>0</td>
        </tr>
        <tr class="summarytablerow none">
            <td>Webs</td>
            <td>0</td>
        </tr>
        <tr class="summarytablerow">
            <td>Neuts</td>
            <td>-9</td>
        </tr>
        <tr class="summarytablerow none">
            <td>RRep</td>
            <td>0</td>
        </tr>
        <tr class="summarytablerow none">
            <td>Towers</td>
            <td>0</td>
        </tr>
        <tr class="summarytablerow">
            <td>Frigates</td>
            <td>6</td>
        </tr>
        <tr class="summarytablerow none">
            <td>Cruisers</td>
            <td>0</td>
        </tr>
        <tr class="summarytablerow none">
            <td>Battleships</td>
            <td>0</td>
        </tr>
    </table>
</div>




























