@{
    Layout = null;
}

    <div class="navigationcont">
        <span class="navbar">Navigation bar</span>
        <ul>
            <li class="navigationLi"><a class="navigationlink" href="#1">Forgotten Perimeter Coronation Platform</a></li>
            <li class="navigationLi"><a class="navigationlink" href="#2">Forgotten Perimeter Power Array</a></li>
            <li class="navigationLi"><a class="navigationlink" href="#3">Perimeter Ambush Point</a></li>
            <li class="navigationLi"><a class="navigationlink" href="#4">Perimeter Camp</a></li>
            <li class="navigationLi"><a class="navigationlink" href="#5">Phase Catalyst Node</a></li>
            <li class="navigationLi"><a class="navigationlink" href="#6">The Line</a></li>
            <li class="navigationLi"><a class="navigationlink" href="#7">Unsecured Perimeter Amplifier</a></li>
            <li class="navigationLi"><a class="navigationlink" href="#8">Unsecured Perimeter Information Center</a></li>
        </ul>
    </div>

@Html.Partial("~\\views\\Anomalies\\C1\\ForgottenPerimeterCoronationPlatform.cshtml")
@Html.Partial("~\\views\\Anomalies\\C1\\ForgottenPerimeterPowerArray.cshtml")
@Html.Partial("~\\views\\Anomalies\\C1\\PerimeterAmbushPoint.cshtml")
@Html.Partial("~\\views\\Anomalies\\C1\\PerimeterCamp.cshtml")
@Html.Partial("~\\views\\Anomalies\\C1\\PhaseCatalystNode.cshtml")
@Html.Partial("~\\views\\Anomalies\\C1\\TheLine.cshtml")
@Html.Partial("~\\views\\Anomalies\\C1\\UnsecuredPerimeterAmplifier.cshtml")
@Html.Partial("~\\views\\Anomalies\\C1\\UnsecuredPerimeterInformationCenter.cshtml")