@{
    Layout = null;
}


    <div class="navigationcont">
        <span class="navbar">Navigation bar</span>
        <ul>
            <li class="navigationLi"><a class="navigationlink" href="#9">Forgotten Perimeter Gateway</a></li>
            <li class="navigationLi"><a class="navigationlink" href="#10">Forgotten Perimeter Habibation Coils</a></li>
            <li class="navigationLi"><a class="navigationlink" href="#11">Perimeter Checkpoint</a></li>
            <li class="navigationLi"><a class="navigationlink" href="#12">Perimeter Hangar</a></li>
            <li class="navigationLi"><a class="navigationlink" href="#13">Sleeper Data Signature Sanctuary</a></li>
            <li class="navigationLi"><a class="navigationlink" href="#14">The Ruins of Enclave Cohort 27</a></li>
            <li class="navigationLi"><a class="navigationlink" href="#15">Unsecured Perimeter Comms Relay</a></li>
            <li class="navigationLi"><a class="navigationlink" href="#16">Unsecured Perimeter Transporder Farm</a></li>
        </ul>
    </div>

@Html.Partial("~\\views\\Anomalies\\C2\\ForgottenPerimeterGateway.cshtml")
@Html.Partial("~\\views\\Anomalies\\C2\\ForgottenPerimeterHabitationCoils.cshtml")
@Html.Partial("~\\views\\Anomalies\\C2\\PerimeterCheckpoint.cshtml")
@Html.Partial("~\\views\\Anomalies\\C2\\PerimeterHangar.cshtml")
@Html.Partial("~\\views\\Anomalies\\C2\\SleeperDataSignatureSanctuary.cshtml")
@Html.Partial("~\\views\\Anomalies\\C2\\TheRuinsOfEnclaveCohort27.cshtml")
@Html.Partial("~\\views\\Anomalies\\C2\\UnsecuredPerimeterCommsRelay.cshtml")
@Html.Partial("~\\views\\Anomalies\\C2\\UnsecuredPerimeterTransponderFarm.cshtml")

